* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*COLORS*/
  --bg-body: #FFFFFF;
  --bg-card: rgba(225, 225, 230, 1);
  --bg-card-dark: rgba(2, 121, 157, 1);
  --font-color: rgba(50, 50, 56, 1);
  
  /*FONT-SIZE*/
  font-size: 62.5%;
  
  --fs-primary: 12.66rem;

  /*FONT-FAMILY*/
  --ff-primary: 'Roboto', sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  color: var(--font-color);
}

main {
  display: flex;
  align-items: center;
  gap: 19.2rem;
}

.time {
  margin-bottom: 2rem;
}

span {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.controls button {
  background: none;
  border: none;
}

.controls button:hover {
  cursor: pointer;
  scale: 1.1;
}

.hide {
  display: none;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
}


.card {
  background: var(--bg-card);
  padding: 4.8rem 4.7rem;
  border-radius: 2.4rem;
}

.card:hover {
  background-color: var(--bg-card-dark);
  cursor: pointer;
}

.clicked {
  background-color: var(--bg-card-dark);
}